header {
  background: #4b73b5;
  margin-bottom: 2.6rem;
}

.header__container {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.6rem 2rem;
}

.logo,
.contacts {
  flex-grow: 1;
}