.questions {
  background-color: #4b73b5;
  background-image: url("../../img/back_transparent.png");
  width: 100%;
  margin: 0.5rem;
}

.questions article {
  margin: 0 auto;
  padding: 2.4rem 1.0rem;
  color: white;
  line-height: 1.67;
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: normal;
}

.questions__request {
  color: white;
  font-weight: bold;
}

.questions__phone {
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}